{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block sidenav %}
    {% for page in pages_list %}
        <li {% if page.title == title %} id="currentpage" {% endif %}>
            <a href="{{ page.permalink}}">{{ page.title }}</a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    {% autoescape off %}
        {{ content }}
    {% endautoescape %}
{% endblock content %}

{% block lastupdated %}
    Page last updated: {{ last_updated|date:'D d F Y'}}
{% endblock lastupdated %}

